.Synonyms {
    margin: 20px 0 0;
    padding: 0;
}

.Synonyms p {
    display: inline-block;
    margin-right: 10px;
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid #2e6fb0cd;
    border-radius: 8px;
}